.linethrough {
  cursor: pointer;
  text-decoration: line-through solid black;
}

.unmarked {
  cursor: pointer;
  text-decoration: solid;
}

.ingredient-checkbox {
  appearance: none;
  background-color: transparent;
  border: 1px solid #fcc436;
  border-radius: 0.2em;
  cursor: pointer;
  height: 1em;
  margin-right: 3px;
  margin-top: 1px;
  position: relative;
  top: 2px;
  width: 1em;
}

.ingredient-checkbox:checked {
  background-color: #fcc436;
  clip-path: 
  polygon(
    41% 52%, 26% 35%, 10% 51%, 37% 88%, 37% 88%, 37% 88%, 37% 88%, 37% 88%, 91% 33%, 78% 18%);
  cursor: pointer;
}